*.bk
*.d.ts
*.js
*.log
*.env

!setupTopics.js
!jest.config.js
!.eslintrc.js

.directory
.DS_Store
.env
.idea
.nyc_output
.project
.settings
.vscode/*

build
dist
coverage
lib
node_modules
npm-debug.log

config
id_rsa
id_rsa.pub
known_hosts
