*.bk
*.d.ts
*.js
*.log

!setupTopics.js
!.eslintrc.js

./test/*.js
.directory
.DS_Store
.env
.idea
.nyc_output
.project
.settings
.vscode/*

dist
coverage
lib
node_modules
npm-debug.log

config
id_rsa
id_rsa.pub
known_hosts
